html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   background:black;
   padding:10px;
   color:white;
   text-align:center;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   text-align:center;
   color:gray;
   height:80px;   /* Height of the footer */
   background:black;
}